@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Figtree', sans-serif;
	font-size: 16px;
	background-color: hsl(47, 88%, 63%);
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container {
	background-color: hsl(0, 0%, 100%);
	height: 520px;
	width: 380px;
	padding: 1.25rem;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 10px 10px 0 black;
}

.illustration-img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.learning {
	display: inline-block;
	font-weight: 800;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	font-size: 0.9rem;
	background-color: hsl(47, 88%, 63%);
	max-width: fit-content;
	padding: 3px 10px;
	border-radius: 5px;
}

.reading {
	font-size: 1.5rem;
	font-weight: 800;
	margin: 1.1rem 0;
	transition: color ease 0.2s;
}

.reading:hover {
	color: hsl(47, 88%, 63%);
	cursor: pointer;
}

.desc {
	font-size: 1rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}

.profile {
	display: flex;
	margin-top: 1.25rem;
	align-items: center;
}

.avatar {
	max-width: 32px;
	margin-right: 15px;
}

.name {
	font-size: 0.9rem;
	font-weight: 800;
}

.attribution {
	font-weight: 500;
	text-align: center;
	font-size: 14px;
	position: absolute;
	bottom: 2%;
}

.attribution a {
	color: hsl(0, 0%, 0%);
}
